ZAVA_EVENTHUB_NAMESPACE='<namespace>.servicebus.windows.net'
ZAVA_EVENTHUB_NAME='zava-escalations'
ZAVA_EVENTHUB_CONSUMER_GROUP='zava-support'
ZAVA_EVENTHUB_CONNECTION_STRING='<full policy connection string>'